@charset "UTF-8";
footer {
    width: 100%;
    height: 370px;
    background-color: #f1f1f1;
}

/* footer notice */
#notice {
    margin: 0 0 50px 0;
    display: flex;
    justify-content: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#notice #notice_box {
    width: 1200px;    
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bottom {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#bottom #bottom_main {
    width: 700px;
    height: 220px;
    /* background-color: aliceblue; */
}

#bottom #bottom_main p {
    font-size: 12px;
    padding: 5px;
}

#bottom #bottom_main ul {
    display: flex;
    font-size: 14px;
}

#bottom #bottom_main ul li {
    padding: 5px;
}

#bottom #bottom_sub {
    width: 400px;
    height: 120px;
    margin: 50px;
    /* background-color: antiquewhite; */
}

#bottom #bottom_sub p {
    font-size: 12px;
    padding: 5px;
}
