@charset "UTF-8";

header {
    width: 100%;
    height: 300px;
}

/* header add */
#header_add {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
}

/* header top */
#header_top {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
}

#header_top #top_cat {
    width: 750px;
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    /* background-color: orange; */
}

#top_cat {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

#top_cat ul {
    display: flex;
}

.tab a {
    margin: -20px;
    display: block;
    min-width: 110px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    border-radius: 0px 22px 0px 22px;
}

.tab.light a{
    color: #666;
    background: #f3f3f3;
    border: 1px solid #ddd;
}

.tab.gray a {
    margin: 0px 0px 10px 10px;
    color: #666;
    background: #f3f3f3;
}

.purple a {
    background: #5b57b7;
}

.blue a {
    background: #1f7be5;
}

.cyan a {
    background: #14b7d7;
}

.orange a {
    background: #f15a29;
}

.light a {
    background: #727272;
}

/* 겹쳤을 때 오른쪽 탭이 위로 오게 */
.tab:nth-child(1) {
    z-index: 6;
}

.tab:nth-child(2) {
    z-index: 5;
}

.tab:nth-child(3) {
    z-index: 4;
}

.tab:nth-child(4) {
    z-index: 3;
}

.tab:nth-child(5) {
    z-index: 2;
}

.tab:nth-child(6) {
    z-index: 1;
}

#header_top #top_cat ul {
    display: flex;
    justify-content: end;
}

#header_top #top_cat ul li {
    margin: 0 10px 0;
}

#header_top #top_login {
    width: 450px;
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    /* background-color: green; */
}

#header_top #top_login ul {
    display: flex;
    justify-content: end;
    font-size: 12px;
}

#header_top #top_login ul li {
    margin: 0 10px 10px;
}

#header_top #top_login ul li::after {
    content: "|";
    float: right;
    margin-right: -10px;
    font-size: 8px;
}

#header_top #top_login ul li:last-child::after {
    content: "";
}

#top_profile img {
    width: 48px;
    height: 50px;
}

/* header main */
#header_main {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#header_main #top_logo {
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: left;
    /* background-color: gray; */
}

#header_main #top_logo img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#header_main #top_nav {
    width: 600px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: end;
    /* background-color: blue; */
}

.search-box {
    width: 600px;
    height: 54px;
    border: 1px solid #cfcfcf;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 14px;
    background-color: #fff;
}

.search-select {
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: #222;
    cursor: pointer;
    padding-right: 10px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    color: #222;
    padding: 0 12px;
}

.search-input::placeholder {
    color: #777;
}

.search-btn {
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
}

.search-btn img {
    width: 25px;
    margin: 0 10px 0 0 ;
}

#header_main #top_profile {
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: end;
    /* background-color: yellow; */
}

/* header category */
#header_cat {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_cat #hamburger img {
    width: 40px;
    height: 40px;

}

#header_cat #header_cat_main {
    width: 1100px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    /* background-color: gray; */
}

#header_cat #header_cat_main #header_cat_cat {
    width: 800px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_cat #header_cat_main #header_cat_cat ul {
    display: flex;
    font-size: 16px;
}

#header_cat #header_cat_main #header_cat_cat ul li {
    margin: 0 14px 0;
}

#header_cat #header_cat_main #header_mission {
    width: 300px;
    height: 90px;
    display: flex;
    justify-content: right;
    align-items: center;
}

#header_cat #header_cat_main #header_mission ul {
    display: flex;
    font-size: 14px;
}

#header_cat #header_cat_main #header_mission ul li {
    margin: 8px;
}